body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #0b1622;
  color: white;
}

main {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  width: 200px;
  border-radius: 10%;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  transition: transform 0.5s;
}
.card:hover {
  transform: scale(1.1);
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4rem;
  background-color: rgba(0, 0, 0, 0.3);
}
.title--text {
  color: white;
  text-align: center;
  font-size: 1.3rem;
}
.header {
  text-align: center;
}
.production_year {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4rem;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  text-align: center;
  font-size: 1.3rem;
}
